:root {
  --main-text-color: #757575;

  --heading-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #fff;

  --background-color-light-grey: #f5f4fa;

  --background-color-dark-gray: #2f303a;

  --icons-fill-grey: #afb1b8;

  --main-font: "Roboto", sans-serif;

  --corner-radius: 4px;

  --card-items-gap: 30px;
}

/* Общие стили */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  background-color: var(--primary-white-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  text-decoration: none;
}

.list-item .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item .link:hover,
.list-item .link:focus {
  color: var(--accent-color);
}

.list-item {
  list-style-type: none;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Логотип */

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);

  margin-right: 93px;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  display: inline-block;
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent-color);
}

/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--heading-text-color);

  display: inline-flex;
  align-items: center;
}

.header-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav .link {
  color: var(--heading-text-color);
}

.header-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.header-nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
}
.contacts-header .link {
  color: var(--main-text-color);

  display: flex;
  align-items: center;
}

.contacts-header .list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  display: flex;
  margin-left: auto;
  align-items: center;
}

.icon-mail {
  margin-right: 10px;
  fill: var(--main-text-color);
}
.link .icon-mail,
.link .icon-phone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .icon-mail,
.link:focus .icon-mail {
  fill: var(--accent-color);
}
.icon-phone {
  margin-right: 10px;
  fill: var(--main-text-color);
}

.link:hover .icon-phone,
.link:focus .icon-phone {
  fill: var(--accent-color);
}

/* Студия - Герой */

.hero-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-pic.jpg");

  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 32px;
  border-radius: var(--corner-radius);
  border: 0;
  min-width: 200px;
  min-height: 50px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus,
.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

/* Студия - Преимущества */
.section.advantages {
  padding-bottom: 0px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.advantages-list .list-item {
  margin-top: var(--card-items-gap);
  margin-left: var(--card-items-gap);
  flex-basis: calc((100% - 120px) / 4);
}

.visually-hidden-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-icon-thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-light-grey);

  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--heading-text-color);
  margin-bottom: 10px;
}
.advantages-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* Студия - Чем мы занимаемся */

.what-we-do-item {
  margin-top: var(--card-items-gap);
  margin-left: var(--card-items-gap);
  flex-basis: calc((100% - 90px) / 3);
}
.card-set.what-we-do {
  margin-top: -30px;
  margin-left: -30px;
}
.what-we-do-item .thumb {
  position: relative;
}
.what-we-do-item.description {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Студия - Наша команда */

.section.our-team {
  background-color: var(--background-color-light-grey);
}
.card-set.our-team {
  margin-top: -30px;
  margin-left: -30px;
}
.list-item.team-participant {
  margin-top: var(--card-items-gap);
  margin-left: var(--card-items-gap);
  flex-basis: calc((100% - 120px) / 4);

  background-color: var(--primary-white-color);
  border-radius: var(--corner-radius);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-participant img {
  margin-bottom: 30px;
}
.team-participant > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team-participant > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--main-text-color);
}
.socials-list-team {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  align-items: center;
}
.link.socials .icon {
  fill: var(--icons-fill-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.socials:hover .icon,
.link.socials:focus .icon {
  fill: var(--primary-white-color);
}

.list-item .link.socials {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item .link.socials:hover,
.list-item .link.socials:focus {
  background-color: var(--accent-color);
}
/* Студия - Постоянные клиенты */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link.client {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--icons-fill-grey);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.client:hover,
.link.client:focus {
  border-color: var(--accent-color);
}
.link .icon-client {
  fill: var(--icons-fill-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .icon-client,
.link:focus .icon-client {
  fill: var(--accent-color);
}

/* Портфолио - Список навигации по работам студии */
.studio-works-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.studio-works-nav .list-item:not(:last-child) {
  margin-right: 8px;
}
.button-studio-works {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);
  background-color: var(--background-color-light-grey);
  cursor: pointer;

  border-radius: var(--corner-radius);
  border-color: transparent;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-studio-works:hover,
.button-studio-works:focus {
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио - Работы студии */

.studio-work-item-description {
  padding: 20px 24px;
  border: 1px solid #eeee;
}

.studio-work-item h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-text-color);
  margin-bottom: 4px;
}
.studio-work-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-bottom: 0;
}

.studio-work-thumb {
  position: relative;
  overflow: hidden;
}
.studio-work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-work-item .link:hover .studio-work-overlay,
.studio-work-item .link:focus .studio-work-overlay {
  opacity: 1;
  transform: translateY(0);
}
.studio-work-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 322px;
  height: 168px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-work-item .link:hover .studio-work-content p,
.studio-work-item .link:focus .studio-work-content p {
  opacity: 1;
}
.studio-work-item .link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-work-item .link:hover,
.studio-work-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* для сітки по формулі */
.list-item.studio-work-item {
  margin-top: var(--card-items-gap);
  margin-left: var(--card-items-gap);
  flex-basis: calc((100% - 90px) / 3);
}
.card-set.studio-works {
  margin-top: -30px;
  margin-left: -30px;
}

/* для сітки без формули */
/* .studio-work-item {
  margin-bottom: 30px;
}

.card-set.studio-works {
  justify-content: space-between;
} */

/* Футер */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color-dark-gray);
}

.footer.container {
  margin-right: auto;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.contacts-footer .list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.join-us-wrapper {
  margin-left: 70px;
}

.join-us-wrapper h3,
.subscribe-wrapper h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;
  margin-bottom: 20px;
}
.socials-list-footer {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
}
.link.socials.dark {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.socials.dark:hover,
.link.socials.dark:focus {
  background-color: var(--accent-color);
}
.icon-footer {
  fill: #fff;
}
.subscribe-wrapper {
  margin-left: 93px;
}
.subscribe-content {
  display: flex;
}
.input-footer {
  height: 50px;
  width: 358px;
  padding: 0px 0px 0px 16px;
  margin-right: 12px;
  background-color: transparent;

  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}
.input-footer:-webkit-autofill,
.input-footer:-webkit-autofill:hover,
.input-footer:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color-dark-gray) inset;
}
.input-footer:focus {
  border: 1px solid var(--accent-color);
}
.input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-align: start;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 28px;
  border-radius: var(--corner-radius);
  border: 0;
  min-width: 200px;
  min-height: 50px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}
.subscribe-button .icon {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover .icon,
.subscribe-button:focus .icon {
  fill: var(--accent-color);
}
/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  scale: 0.5;
  transform: translate(-50%, -50%) rotate(0.5turn) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) rotate(1turn) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--accent-color);
}

/* Форма модального окна */
.form .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
  margin-bottom: 12px;
}
.form {
  width: 100%;
  padding: 40px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-label .input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form {
  position: absolute;
  top: 29px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label .input:focus {
  border-color: var(--accent-color);
}
.form-label .input:focus + .icon-form {
  fill: var(--accent-color);
}
.comment-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-textarea:focus {
  border-color: var(--accent-color);
}
.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.agreement-form-field {
  /* display: flex; */
  margin-bottom: 30px;
}
.agreement-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.agreement-link {
  color: var(--accent-color);
}
/* .agreement-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--second-bg);
  border-radius: 3px;
} */

.button-send {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 32px;
  border-radius: var(--corner-radius);
  border: 0;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin-left: auto;
  margin-right: auto;
}
